#blocbook{
    
    border: 2px solid black;
    background-color: rgba(158, 125, 53, 0.30);
    height : 300px;
    width: 70%;
    margin-left: 200px;
    float: left;
/* bloc + de mes listes livre */
}

.infobook{

margin-top: -260px;
margin-left: 450px;
/* position dans le bloc */


}
#imgminiature:hover{
    transform : scale(1.2);
    /* Zoom sur image */
}



.titre{
    margin-left: 300px;
}
html{
    background-color: black;
    color: white;
}
